---
import Popover from '../../Popover/index.astro'
---



<footer class="footer">
    <ul class="footer-list">
        <li class="footer-item"><Popover  content="不知天上宫阙，今夕是何年"/></li>
        <li class="footer-item">我欲乘风归去</li>
    </ul>
</footer>