.main {
    width: clamp(1px,65ch,100%);
    margin: 0 auto;
    /*text-align: center;*/
    height: 200vh;
}

blockquote {
    position: relative;
}

#article {
    /*display: inline-block;*/
    /*border-left: 1px solid #222222;*/
    /*border-bottom-width: 0;*/
    /*border-bottom-color: #222222;*/
    /*border-bottom-style: solid;*/
    /*transition-property: border-bottom-width,border-bottom-color;*/
    /*transition-duration: 3s;*/
    /*transition-timing-function: linear;*/
    /*&:hover + .after-line {*/
    /*    color: white;*/
    /*    border-bottom-width: 2px;*/
    /*    border-bottom-color: #ffffff;*/
    /*}*/
}

.after-line {
    --var_border-width: 0px;
    --var_blockquote-width:0;
    --var_blockquote-height:0;
    display: inline-block;
    position: absolute;
    inset: 0 0 -10px -10px;
    width: 0;
    height: 0;
    margin: 0;
    color: #222222;
    border-top: 0;
    border-right: 0;
    border-left-width: var(--var_border-width);
    border-left-color: #222222;
    border-left-style: solid;
    border-bottom-width: var(--var_border-width);
    border-bottom-color: #222222;
    border-bottom-style: solid;
    background-color: transparent;
    transition-property: width,height;
    transition-duration: 2s,1s;
    transition-delay: 1s,0s;

}

.description {
    max-width: utopia.clamp(100,200);
    position: absolute;
    top: 0;
    text-overflow: ellipsis;
    overflow: hidden;
}


@custom-media --header-layout (width  <= 865px);
@media (--header-layout) {
    .after-line {
        display: none;
    }
}

@media not (--header-layout) {
    .after-line {
        /*display: inline-block;*/
        width: var(--var_blockquote-width);
        height: var(--var_blockquote-height);
    }

}