.box {
    position: relative;
    width: auto;
    border: 2px solid black;
    min-height: var(--step-5);


    .title {
        position: absolute;
        margin-top: calc(0px - var(--space-xs-s));
        margin-left: calc(0px - var(--space-xs-s));
        display: inline-block;
        color: #ffffff;
        padding: var(--space-xs-s);
        outline: 2px solid black;
        border: 1px solid #fff;
        background-color: black;
    }

    .list {
        line-height: var(--space-xs-s);
        padding: var(--space-s-m) 0 var(--space-xs-s) calc(var(--space-2xl-3xl) + var(--space-3xl));
    }
}