
.home {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    margin: 1rem;
    padding: var(--var_block-padding);
    border: 3px double #585656;
    outline: 1px solid #b5b5b5;

    .header {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: var(--step--2);

        .header-left, .header-right {
            padding: var(--var_block-padding);
            border: var(--var_border-config);
        }

        .header-right {
        }
    }
}

.article-ele-style {
    padding: var(--var_block-padding);
    border: var(--var_border-config);
}

.home-container {
    min-height: calc(100vh - var(--grid-gutter));
    padding: calc(var(--grid-gutter) / 2);
    border: 1px solid #525252;
    outline: utopia.clamp(1, 2) solid #525252;
    outline-offset: 4px;
}

.home-header {
    grid-template-columns: repeat(var(--grid-columns), 1fr);

    .header-left {
        grid-column: 1 /  span 4;
    }

    .header-right {
        grid-column: 5 / span 8;

        .header-title-container {
            display: flex;
            align-items: center;
            gap: var(--space-xs-s);
            color: #ffffff;
            padding: var(--space-xs-s);
            outline: 2px solid black;
            border: 1px solid #fff;
            background-color: black;

            h1 {
                display: flex;
                align-items: center;
                border-right: 2px solid #fff;
            }

            .header-title-desc {
                flex: 1;
                font-size: utopia.clamp(12,20);
            }
        }
    }

}

.main {
    grid-template-columns: repeat(var(--grid-columns), 1fr);

    .main-left {
        grid-column: 1 /  span 8;
    }

    .tech-list {
        max-height: utopia.clamp(200, 350);
        overflow-y: auto;

        & li {
            width: auto;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }


    h3 {
        margin-bottom: var(--space-xs-s);
    }

    .main-right {
        grid-column: 9 /   span 4;
    }
}

@custom-media --header-layout (width  <= 865px);
@media (--header-layout) {

    .home-container {
        outline: 0;
    }

    .home-header .header-left {
        grid-column: 1 / -1;
        order: 2;
    }

    .home-header .header-right {
        grid-column: 1 / -1;
        order: 1;
    }

    .header-title-container {
        flex-direction: column;
    }

    .header-title-container.header-title-container.header-title-container h1 {
        border: none;
    }

    .main-left.main-left, .main-right.main-right {
        grid-column: 1 / -1;
    }


}