body {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  gap: var(--step-0);
  padding: var(--step-0);
  border: var(--step-0) solid transparent;
  outline: var(--var_border-width) solid var(--var_pitch-black);
  outline-offset: calc(0px - var(--step-0));
  background-image: url("./border-text.svg");
  background-repeat: repeat;
  background-size: auto;
  overflow: hidden;
}

body>header,
footer {
  background-color: var(--var_background-color);
}

main {
  background-color: transparent;
}

header {
  /* padding: var(--step-0); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: var(--step-0); */
  border-bottom: var(--var_border-width) solid var(--var_pitch-black);
}

header::before,
header::after {
  content: "";
  display: block;
  width: var(--step-0);
  height: calc(var(--var_border-width) + 0px);
  background-color: var(--var_pitch-black);
}

header::before {
  position: absolute;
  left: calc(0px - var(--step-0));
  bottom: calc(0px - var(--var_border-width));
}

header::after {
  position: absolute;
  right: calc(0px - var(--step-0));
  bottom: calc(0px - var(--var_border-width));
}

.announcement p:nth-child(2) {
  font-size: 0.9rem;
  line-height: 1.16rem;
}

.title {
  padding: var(--step--2) 0 0;
  color: var(--var_off-white);
  background-color: var(--var_red);
}

.title-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  vertical-align: middle;
  padding: 0 var(--step--2);
  margin-bottom: var(--step--2);
}

.title-content>h1 {
  font-size: var(--step-3);
  letter-spacing: var(--step--2);
  text-align: center;
}

.title-desc p {
  text-wrap: nowrap;
}

.auth-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-top: var(--var_border-width) solid var(--var_off-white);
  font-size: var(--step--2);
  text-align: center;
  text-wrap: nowrap;
}

.auth-info span {
  display: inline-block;
  padding: calc(var(--step--2) - 1px);
}

.desc {
  flex: 1;
}
/* 
.auth-info > *:nth-child(1) {
  flex-basis: max-width;
  border-right: var(--var_border-width) solid var(--var_off-white);
} */


main {
  position: relative;
  overflow: auto;
}

.tabs {
  position: sticky;
  top: 0;
  text-align: center;
  background-color: transparent;
}

/* 移除了 waterfall 相关样式，因为现在使用 tabs 组件 */

@media (width < 1280px) {

  .auth-info {
    justify-content: center;
  }

  header {
    grid-template-columns: repeat(1, 1fr);
  }

  .title {
    order: 1;
  }

  .title-content {
    flex-direction: column;
    gap: var(--step--2);
  }

  .title-desc p {
    text-wrap: nowrap;
  }

  .announcement {
    order: 2;
  }

  /* 移除了 waterfall 相关的响应式样式 */
}

@media (width < 760px) {
  body {
    padding: 0;
    gap: 0.5rem;
  }

  .auth-info {
    text-wrap: wrap;
  }

  header::after,
  header::before {
    content: "";
    display: none;
  }
}