---
import Header from '../components/LayoutComponents/Header/index.astro';
import Content from '../components/LayoutComponents/Content/index.astro';
import Footer from '../components/LayoutComponents/Footer/index.astro';
---

<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
	<link rel="stylesheet" href="/styles/global.css">
  </head>
  <body>
	<div id="root">
      <Header />
      <Content />
      <Footer />
    </div>
  </body>
  <style>
  </style>
</html>
