---

---

<article class="right-title">
  <h1 class="title">太虚幻境</h1>
  <div class="author">
    <div class="author-name">
      <p>满床清梦</p>
    </div>
    <p>
      <!-- 语意取自：醉后不知天在水，满船清梦压星河 -->
      世人都晓神仙好，只有功名忘不了
    </p>
  </div>
</article>
