---
import HomeLayout from "./HomeLayout.astro";
import '@/styles/catalogue.css'
---


<HomeLayout>
    <body>
        <nav>
            <article class="box">
                <h2 class="title">这个皇帝不简单</h2>
                <ul class="list">
                    <li>五大传奇</li>
                    <li>何来传奇</li>
                    <li>传奇解读</li>
                </ul>
            </article>
        </nav>
    </body>
</HomeLayout>