---
import '@/styles/homeBody.css'
import Catalogue from "./Catalogue.astro";
---
<body class="home-container u-grid">
<header class="home-header u-grid">
    <article class="header-left article-ele-style">
        文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性
    </article>
    <article class="header-right u-grid">
        <div class="header-title-container">
            <h1>太虚幻境</h1>
            <p class="header-title-desc">
                世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！<br/>
                古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。
            </p>
        </div>
        <div class="article-ele-style">
            <a href="/author">满床清梦</a>
            <span></span>
        </div>
    </article>
</header>
<main class="main u-grid">
    <article class="main-left article-ele-style">
        <h3>
            杂术 - 汇集之术
        </h3>
        <!--<Catalogue/>-->
        <ul class="tech-list">
            <li>1世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！ 古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。</li>
        </ul>
    </article>
    <article class="main-right article-ele-style">
        <h3>
            杂览 - 观览之书
        </h3>
        <ul class="tech-list">
            <li>1世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！ 古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。</li>
        </ul>
    </article>
</main>
<footer class="footer article-ele-style">
    杂记 - 日常赘述
</footer>
</body>