---
import '@/styles/homeBody.css'
import Catalogue from "./Catalogue.astro";
---

<!--<body class="home">-->
<!--<header class="header">-->
<!--    <article class="header-left">-->
<!--        文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性-->
<!--    </article>-->
<!--    <article class="header-right">-->
<!--        <h1>太虚幻境</h1>-->
<!--        <div>-->
<!--            <span>满床清梦</span>-->
<!--            <span>世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！ 古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。</span>-->
<!--        </div>-->
<!--    </article>-->
<!--</header>-->
<!--<main class="main"></main>-->
<!--<footer class="footer"></footer>-->
<!--</body>-->
<body class="u-container u-grid">
<header class="home-header u-grid">
    <article class="header-left article-ele-style">
        文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性文字的神秘性
    </article>
    <article class="header-right u-grid">
        <div class="header-title-container">
            <h1>太虚幻境</h1>
            <p class="header-title-desc">
                世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！<br/>
                古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。
            </p>
        </div>
        <div class="article-ele-style">
            <a href="/author">满床清梦</a>
            <span></span>
        </div>
    </article>
</header>
<main class="main u-grid">
    <article class="main-left article-ele-style u-grid">
        <h3>
            左侧内容-技术文章
        </h3>
        <!--<Catalogue/>-->
        <ul class="tech-list">
            <li>1世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！ 古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
            <li>1世 人 都 晓 神 仙 好 ， 惟 有 功 名 忘 不 了 ！ 古 今 将 相 在 何 方 ？ 荒 冢 一 堆 草 没 了 。</li>

            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
            <li>10</li>
        </ul>
    </article>
    <article class="main-right article-ele-style">右侧内容-书籍阅览</article>
</main>
<footer class="footer article-ele-style">
    底部内容-日常琐记
</footer>
</body>